* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f8ff;               /* 背景色 */
 
  font-family: "Hiragino Kaku Gothic ProN";
  
  text-align: center;
}

header {
  height: 100px;
  width: 100%;
  background-color: #333631;
  top: 0;
}

a,a:hover,a:visited{
    color: inherit;
}

.header-text {
  position: relative;
  
  text-align: center;
  
  font-size: 45px;
  
  color: #FFFFFF;
  
  top: 20px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
	
  text-align: center;
}

.aboutme {
  padding: 50px 0 10px 0;
  text-align: center;
}

.copyright {
  padding: 150px 0 10px 0;
  text-align: center;
}

.container h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 3px;
}

.description-box {
  box-sizing: border-box;
  display: inline-block;
	
  text-align: center;
  
  margin: 50px 0;
  
  width: 800px;
  height: 400px;
	
  padding: 20px;
  
  border:1px solid #666;
  
  background-color: #FFFFFF;
  
  font-size: 20px;
  border-radius: 15px;
}

.description-text {
  display: table-cell;
  vertical-align: bottom;
	
  background-color: #00ff00;
}

.Back-Button {
  text-align: center;
	
  display: inline-block;
	
  box-sizing: border-box;
  
  margin: 10px;
  
  width: 300px;
  height: 70px;
  
  border:1px solid #666;
  
  background-color: #FFFFFF;
  
  font-size: 30px;
	
  border-radius: 20px;
}



*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_cssslider {
	width: 500px;
	padding-top: 200px; /* 画像の高さ */
	position: relative;
	margin: 0 auto;
	
	text-align: center;
}

.cp_cssslider > img {
  position: absolute;

  top: 0;
  left: 50px;
  margin: 0 auto;
	
  width: 200px;
  height: 200px;
  transition: all 0.5s;
  border-radius: 3px;
  box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}

.cp_cssslider input[name='cp_switch'] {
	display: none;
}

/* サムネイル */
.cp_cssslider label {
	margin: 15px 5px 0 5px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s ease;
	opacity: 0.6;
	border-radius: 3px;
}
.cp_cssslider label:hover {
	opacity: 0.9;
}
.cp_cssslider label img {
	display: block;
	width: 40px;
	border-radius: 2px;
}
.cp_cssslider input[name='cp_switch']:checked + label {
	border: 2px solid #FF7043;
	opacity: 1;
}
.cp_cssslider input[name='cp_switch'] ~ img {
	opacity: 0;
}
.cp_cssslider input[name='cp_switch']:checked + label + img {
	opacity: 1;
}
