* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f8ff;               /* 背景色 */
  background-image: url("background.png"); /* 画像 */
  background-repeat: repeat;
  
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  top: 0;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
