* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f8ff;               /* 背景色 */
 
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 225px;
  width: 100%;
  background-color: #333631;
  top: 0;
}

h1.header {
  position: absolute;
  left: 500px;
  
  font-weight: bold;
  vertical-align: middle;
}

.header-logo {
  float: left;
  position: relative;
  
  left: 200px;
}

.header-text {
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.logo-lsize {
  width: 225px;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

