* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f8ff;               /* 背景色 */
 
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 225px;
  width: 100%;
  background-color: #333631;
  top: 0;
}

.header-logo {
  display: inline;
  position: relative;
  
  vertical-align: bottom;
  
  top: 10px;
  left: 450px;
}

.header-text {
  position: relative;
  
  font-size: 45px;
  
  color: #FFFFFF;
  
  left: 450px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.logo-lsize {
  width: 200px;
}

.aboutme {
  padding: 100px 0 100px 0;
  color: black;
  text-align: center;
}

.aboutme-logo {
  width: 200px;
}

.aboutme-text {
  display: block;
  
  font-size: 15px;
}

.aboutme h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 3px;
}

